@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700');

BODY{font-family:'Josefin Sans',Verdana,sans-serif;font-size:16pt;background-color:white;color:black;}
#title{border-bottom:2px solid gold;font-weight:bold;padding-left:2em;text-indent:-2em;}
#constate{position:absolute;right:4pt;top:4pt;padding:4pt;background-color:gold;}
#msg{border-bottom:1px solid silver;color:red;padding-left:2em;text-indent:-2em;}
#inventory{border-bottom:1px solid green;max-height:30vh;overflow:auto;padding-left:2em;text-indent:-2em;}
#room{border-bottom:1px solid red;cursor:default;font-weight:bold;padding-left:2em;text-indent:-2em;}
#things{border-bottom:1px solid blue;padding-left:2em;text-indent:-2em;}
#persons{border-bottom:1px solid gold;padding-left:2em;text-indent:-2em;}
#prompt{position:fixed;left:0pt;bottom:0pt;width:100vw;margin:0px;padding:0px;}
#prompt1{outline:none;border:0px;padding:4pt;width:100vw;font-family:'Josefin Sans',Verdana,sans-serif;font-size:16pt;background-color:silver;font-weight:bold;}
.link{color:blue;text-decoration:underline;cursor:pointer;}
.thing{cursor:pointer;}
.person{cursor:pointer;}
.personfrom{font-style:italic;color:darkred;}
.personleft{font-style:italic;color:darkred;}
.dixit{color:green;}
.select{font-weight:bold;color:darkred;}
.hot{background-color:aqua;animation:hot 1s infinite;}
#info1{position:fixed;left:0pt;top:0pt;width:100%;height:100%;background-color:black;opacity:0.5;}
#info2{position:fixed;left:10vw;right:10vw;top:10vh;bottom:15vh;background-color:white;padding:4pt;}
#info3{position:fixed;left:10vw;right:10vw;top:85vh;background-color:silver;padding:4pt;text-align:center;cursor:pointer;}
#info4{border:0pt;width:100%;height:100%;}

@keyframes new {
  0%   {background-color: gold;}
  100% {background-color: white;}
}
@keyframes hot {
  0%   {background-color: white;}
  50%  {background-color: aqua;}
  100% {background-color: white;}
}
