@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700');

BODY{font-family:'Josefin Sans',Verdana,sans-serif;font-size:13pt;background-color:white;color:black;}
INPUT{font-family:'Josefin Sans',Verdana,sans-serif;font-size:13pt;}
TEXTAREA{font-family:'Josefin Sans',Verdana,sans-serif;font-size:13pt;}
H3{margin:0em 1em 0.2em 0.5em;}
P{margin:0em 1em 0.2em 0.5em;text-align:justify;}
UL{margin:0em 1em 1em 0.5em;}
